<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry please try again...</h1>
    <p>
      You have unsuccessfully signed up to EquityFile,
      your <%= @reason %> failed to be created, it may already exist.<br>
    </p>
  </body>
</html>