<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EquityFile account not yet approved</h1>
    <p>
      We have receieved an attempt to change your password, however your account has not been approved yet. </br>
      You will receive a password when your account is activated.
    </p>
  </body>
</html>