<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EquityFile, </h1>
    <p>
      You have successfully signed up to EquityFile,
      your password is <%= @random_password %><br>
      Please login <a href="http://equityfile.com/#/login">here</a>
    </p>
  </body>
</html>